@font-face {
    font-family: "myfont";
    src: url(../fonts/AftaSansThin-Regular.otf);
}

* {
    font-family: "myfont";
}

.statements {
    text-align: left;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.timer {
    position: absolute;
    top: 5%;
    right: 10%;
    display: flex;
    flex-wrap: wrap;
}

.high-scores {
    position: absolute;
    top: 5%;
    left: 10%;
    display: flex;
    flex-wrap: wrap;
}

.high-scores:hover {
    color: rgb(185, 85, 224);
}

.result {
    position: absolute;
    top: 90%;
    left: 25%;
    display: flex;
    flex-wrap: wrap;
    color: rgb(196, 196, 196);
    border-top: 3px solid rgb(196, 196, 196);
    width: 1000px;
    font-style: italic;
    letter-spacing: 2px;
}

.start-page{
    text-align: center;
}

.start-page h1 {
    font-size: 60px;
}

.start-page p {
    font-size: 25px;
    margin-bottom: 35px;
}

.start-button {
    background-color: rgb(60, 4, 105);
    color: white;
    width: 200px;
    height: 60px;
    font-size: 35px;
    border-radius: 10px;
    padding-bottom: 10px;
    border: none;
}

.start-button:hover {
    background-color: rgb(185, 85, 224);
}

.questions h2 {
    font-size: 50px;
    text-align: left;
}

.questions ul {
    padding-left: 0px;
}

.questions li {
    background-color: rgb(60, 4, 105);
    color: white;
    border: none;
    text-align: left;
    list-style: none;
    border-radius: 10px;
    font-size: 25px;
    width: 320px;
    height: 60px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.questions li:hover {
    background-color: rgb(185, 85, 224);
}

.finish-page {
    text-align: left;
    width: 500px;
}

.finish-page h2 {
    font-size: 60px;
    margin: 5px 0px 20px 0px;
}

.finish-page h3 {
    font-size: 35px;
    margin: 5px 0px 20px 0px;
}

.finish-page form {
    display: flex;
    flex-wrap: wrap;
}

.finish-page form input {
    width: 200px;
    height: 40px;
    margin: 5px 0px 20px 10px;
}

.submit-button {
    margin-top: 15px;
    background-color: rgb(60, 4, 105);
    color: white;
    width: 150px;
    height: 40px;
    font-size: 30px;
    border-radius: 10px;
    border: none;
}

.submit-button:hover {
    background-color: rgb(185, 85, 224);
}

#high-scores h2 {
    font-size: 60px;
}

#high-scores button {
    background-color: rgb(60, 4, 105);
    color: white;
    width: 170px;
    height: 60px;
    font-size: 35px;
    border-radius: 10px;
    padding-bottom: 10px;
    border: none;
}

#high-scores .clear {
    margin-left: 5px;
    width: 310px;
}

.hide {
    display: none;
}

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
        height: 50%;
    }

    .questions h2 {
        font-size: 30px;
    }

    .questions li {
        font-size: 25px;
        width: 260px;
        height: 45px;
        padding-bottom: 10px;
    }

    .result {
        width: 325px;
        height: 20px;
        margin-top: 35px;
        margin-left: -80px;
    }

    .result h2 {
        margin-top: 5px;
    }

  }